@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Red+Hat+Display:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

body{
    background-size: 100vw;
    background-size: 100vh;
}

.cabeçalho{
    height:110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px 10px 10px;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
}

nav.navmenu1 > a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    margin-right: 20px;
}

nav.navmenu1 > a:hover{
    background-color: #616361;
    color: black;
    border-radius: 15px;
    transition-duration: 0.3s;
}

.logoh{
    background-size: cover;
}



.navmenu2:hover{
    cursor: pointer;
}

nav > a {
    padding: 10px;}

.navmenu1{
    display: flex;
    gap: 60px;
    color: white;
    border-right: 0.6px solid #393b39;
    margin-right: 20px;
}

.navmenu2{
    display: flex;
    gap: 20px;
}

main{
    background-color: #0d0d0d;
    color: white;
    display: flex;
    box-sizing: border-box;
    height: 770px;
    justify-content: space-around;
    gap: 40px;
}



.titulo{
    font-family: 'DM Serif Display', serif;
    font-size: 60px;
    line-height: 80px;
    
}

strong{
    color: rgb(63, 63, 63);
    font-style: italic;
}

strong.eu{
    color: white;
    font-size: 20px;
}

.conteudo1{
    display: flex;
    gap: 15px;
    padding: 10px;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 60px;
}

a.linksocial:hover{
    box-shadow: red;
}

div.socialmedia{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 40px;
}

img.logorede{
    justify-content: center;
    align-items: center;
    
}

.botao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 30px;
}

span{
    font-weight: bold;
}

span > a{
    text-decoration: none;
    color: rgb(63, 63, 63);
}


section.imgright{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(/images/filmmaker.jpg);
    background-size: cover;
}

button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   button::before,
   button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   button::before {
    left: -10px;
    background: #13ff00
    ;
   }
   
   button::after {
    right: -10px;
    background: #13ff00
    ;
   }
   
   button:hover::before,
   button:hover::after {
    width: 58%;
   }
   
   button:hover span >a {
    color: white;
    transition: 0.6s;
   }
   
   button span {
    color: black;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }

   .rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    background-color: black;
   }

   