@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Red+Hat+Display:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

.cabeçalho{
    height:110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px 10px 10px 10px;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    background-color: #0d0d0d
}

a{
    color: white;
    text-decoration: none;
    font-size: 23px;
    margin-right: 20px;
}

a:hover{
    background-color: #13ff00;
    color: #0d0d0d;
    border-radius: 15px;
    transition-duration: 0.3s;
}

.logoh{
    background-size: cover;
}



.navmenu2:hover{
    cursor: pointer;
}

nav > a {
    padding: 10px;}

.navmenu1{
    display: flex;
    gap: 60px;
    color: white;
    border-right: 0.6px solid #13ff00;
    margin-right: 20px;
}

.navmenu2{
    display: flex;
    gap: 20px;
}

main{
    background-color: #000000;
    color: white;
    display: flex;
    box-sizing: border-box;
    height: 770px;
    justify-content: space-around;
    gap: 40px;
}



.titulo{
    font-family: 'DM Serif Display', serif;
    font-size: 60px;
    line-height: 70px;
}

strong{
    color: #13ff00;
    font-style: italic;
}

strong.eu{
    color: white;
    font-size: 20px;
}

p{
    text-align: justify;

}

.conteudo1{
    display: flex;
    gap: 15px;
    padding: 10px;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 60px;
}


.quadrados{
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: white;
    border-color: white;
    margin-top: 30px;
    background-size: cover;
}

.quadrado1{
    height: 200px;
    width: 200px;
    background-image: url(imagens/cris.png);
    border-radius: 20px;
    border-color: white;
    background-size: cover;
    box-shadow: 2px 2px 2px #0d0d0d;
}

.quadrado2{
    height: 200px;
    width: 200px;
    background-image: url(imagens/littlegame.png);
    border-radius: 20px;
    border-color: white;
    background-size: cover;
}

.quadrado3{
    height: 200px;
    width: 200px;
    background-image: url(imagens/voltan.png);
    border-radius: 20px;
    border-color: white;
    background-size: cover;
}

.botao{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-top: 30px;
}

span{
    font-weight: bold;
}


section.imgright{
    display: flex;
    height: 100%;
    width: 100%;
    background-image: url(imagens/camisetas.webp);
    background-size: cover;
}

button {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid #03045e;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
   }
   
   button::before,
   button::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   button::before {
    left: -10px;
    background: #70e259;
   }
   
   button::after {
    right: -10px;
    background: #279a18;
   }
   
   button:hover::before,
   button:hover::after {
    width: 58%;
   }
   
   button:hover span {
    color: #000000;
    transition: 0.3s;
   }
   
   button span {
    color: #000000;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }

   .rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    background-color: #0d0d0d
   }